 :root {
        --purple-light: #f2eaff;
        --purple: #c8b2ff;
        --purple-dark: #8660e6;
        --green: #59bf98;
        --text-dark: #2f2a3d;
        --text-light: #6c687a;
        --bg-light: #faf8ff;
    }

    body {
        font-family: "Inter", sans-serif;
        background: var(--bg-light);
        color: var(--text-dark);
        padding-top: 70px;
    }

    h1, h2 {
        font-family: "Playfair Display", serif;
        color: var(--text-dark);
        letter-spacing: -1px;
        line-height: 1.2;
    }

    .header-bg {
        background: var(--purple-light);
        border-radius: 4rem;
        padding: 4rem 2rem;
        overflow: hidden;
        position: relative;
    }

    .header-blob {
        position: absolute;
        top: 0; right: -10%;
        width: 60%;
        height: 100%;
        border-radius: 50rem;
        background: linear-gradient(90deg, var(--purple) 0%, var(--purple-light) 100%);
        filter: blur(60px);
        opacity: 0.9;
    }

    .shop-card, .feature-card {
        border-radius: 1.5rem;
        border: none;
        background: white;
        box-shadow: 0px 4px 20px rgba(0,0,0,0.05);
    }

    .shop-card {
    /* background: linear-gradient(to bottom, white 50%, #c8b2ff 100%); */
    background: linear-gradient(120deg,#c8b2ff,#ffe3ff,#d8e8ff);
     margin-bottom: 3rem;
    }


    .feature-icon {
        width: 64px;
        height: 64px;
        background: var(--purple-light);
        color: var(--purple-dark);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    .btn-main {
        background: var(--purple-dark);
        border: none;
        color: white;
        padding: 0.75rem 2rem;
        border-radius: 2rem;
        font-weight: 500;
        font-size: 1.1rem;
        text-decoration: none;
    }

    .btn-second-main {
        border: 2px solid var(--purple-dark);
        color: var(--purple-dark);
        padding: 0.75rem 2rem;
        border-radius: 2rem;
        font-weight: 500;
        font-size: 1.1rem;
    }


    footer {
        background: var(--purple-light);
         padding: 6rem 3rem;
        border-top-left-radius: 50rem;
        border-top-right-radius: 50rem;
    }


.blur-break {
    background: var(--purple-light);
    padding: 50rem 1; 
    backdrop-filter: blur(20px);

}

.underline {
    text-decoration: underline;
}



    



   
