.shop-card, .feature-card {
  @include card-shadow;
  @include rounded(1.5rem);
  border: none;
  background: white;
}

.shop-card {
  background: linear-gradient(120deg,$purple,$purple-light,#d8e8ff);
  margin-bottom: 3rem;
}

.feature-icon {
  width: 64px;
  height: 64px;
  background: $purple-light;
  color: $purple-dark;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  margin: 0 auto 1rem auto; //top right bottom left
}


