.header-bg {
  background: $purple-light;
  border-radius: 4rem;
  padding: 4rem 2rem;
  overflow: hidden;
  position: relative;
}

.header-blob {
  position: absolute;
  top: 0; right: -10%;
  width: 60%;
  height: 100%;
  border-radius: 50rem;
  background: linear-gradient(90deg, $purple 0%, $purple-light 100%);
  filter: blur(60px);
  opacity: 0.9;
}
