body {
  font-family: "Inter", sans-serif;
  background: $bg-light;
  color: $text-dark;
  padding-top: 70px;
}
h1, h2 {
  color: $text-dark;
  font-family: "Playfair Display", serif;
}

footer {
  background: $purple-light;
  padding: 6rem 3rem;
  border-top-left-radius: 50rem;
  border-top-right-radius: 50rem;
  margin-bottom: 0rem;
}



.text-light {
  color: $text-light !important;      
}

.text-dark {
  color: $text-dark !important;
}

.brand-font {
  font-family: "Playfair Display", serif;
}



