body {
  font-family: "Inter", sans-serif;
  background: $bg-light;
  color: $text-dark;
  padding-top: 70px;
}
h1, h2 {
  color: $text-dark;
  font-family: "Playfair Display", serif;
}

footer {
  background: $purple-light;
  padding: 6rem 3rem;
  border-top-left-radius: 50rem;
  border-top-right-radius: 50rem;
}

.blur-break {
  background: $purple-light;
  padding: 5rem 1rem; // 50rem was too big?
  backdrop-filter: blur(20px);
}

// text color utilities
.text-light {
  color: $text-light !important;       // !important to override Bootstrap
}

.text-dark {
  color: $text-dark !important;
}

.brand-font {
  font-family: "Playfair Display", serif;
}

