$purple-light: #f2eaff;
$purple: #c8b2ff;
$purple-dark: #8660e6;
$green: #59bf98;
$text-dark: #2f2a3d;
$text-light: #6c687a;
$bg-light: #faf8ff;


// TYPOGRAPHY
$font-main: "Inter", sans-serif;
$font-title: "Playfair Display", serif;
